
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<div class="jumbotron slick-jumbotron">
<div class="container-fluit">
   <section class="customer-logos slider">
    <% promotion.promonewsmultims.each do |promotionimg| %>
    <% end %>
      <div class="slide"><img src="#{promotionimg.reference}"></div>
   </section>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.customer-logos').slick({
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 3
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>