<%= render 'partials/navbar'  %>
<!-- Optional: some overlay text to describe the video -->
<div class="container-fluit text-center">
  <!-- Use a button to pause/play the video with JavaScript -->
  <iframe width="720" height="396" src="https://www.youtube.com/embed/7ZfULR9XqEI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


